html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a:nth-child(1) {
  color: #636468;
  text-decoration: none;

}
a:nth-child(1):hover {
  text-decoration: none;
  color: #636468;
}

.header-area {
  display: flex;
  justify-content: space-between;
}

.navbar-area,
.language-menu {
  font-family: "Srinakharin";
  margin-top: 30px;
}

.nav-area,
.lan-area {
  list-style: none;
}
/* Have to make it responsive! */
.nav-area li {
  display: inline-block;
  
}
.lan-area * {
  display: inline-block;
  padding: 0px 2px;
}
.nav-area.mt-md-5 li {
display: inline-block;
padding: 0px 7%;
}
ul.nav-area.mt-md-5 {
text-align-last: center;
}
.swu-logo {
  width: 300px;
  height: 100px;
}

/* About Page -------------------------------------------------------*/
.about-content {
  background-image: url("~@/image/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.col {
  padding: 0px !important;
}
.option {
  margin-bottom: 65px;
  color: #636468;
}
.option div {
  margin: 12px 47px 20px 66px;
  display: inline-block;
}
.option hr {
  width: 175px;
  height: 4px !important;
  background-color: #629084;
  opacity: 0.75;
}

.right-content {
  font-family: "THSaraban";
  text-align: -webkit-center;
}
.option h2 {
  font-family: "Srinakharin";
  margin: 0px 0px 0px 0px;
  font-size: 50px;
}

#login-form input {
  display: block;
  border-radius: 24px;
  border: solid 1px;
  border-color: #5c8b40;
  width: 496px;
  height: 55px;
  margin-bottom: 40px;
  padding: 2px 15px 2px 15px;
}
#login-form input::placeholder {
  padding-left: 32px;
  color: #636468;
}
button#login-btn {
  background-color: #d26760;
  color: #efedf2;
  border: none;
  width: 181px;
  height: 40px;
  border-radius: 20px;
  margin-left: 308px;
}
.col-6 {
  margin: 7px -117px -1px 53px;
}

/* Register Part-------------------------- */
.largeIn {
  box-shadow: 7px 5px 9px 0px rgba(0, 0, 0, 0.16);
  display: block;
  border-radius: 24px;
  border: solid 1px;
  border-color: #5c8b40;
  width: 470px;
  height: 41px;
  margin-bottom: 20px;
  padding: 2px 15px 2px 15px;
}
#regis-form input::placeholder {
  padding-left: 32px;
  color: #636468;
}
select::-ms-expand {
  display: none;
}

select {
  color: #636468;
  padding-left: 31px;
}
.row1 input {
  display: inline;
}
.smallIn,
select {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.16);
  display: block;
  border-radius: 24px;
  border: solid 1px;
  border-color: #5c8b40;
  width: 220px;
  height: 41px;
  margin: 12px 18px;
  padding: 2px 15px 2px 15px;
}
.checkB {
  margin: 0px 36px 0px 85px;
}
.checkB input {
  margin: 0px 6px 0px 10px;
}
/* -------------------------------------------- */

/* Foter Area------------------------------------------ */

.footer {
  padding: 75px 0px;
  font-family: "THSaraban";
  text-align: center;
  display: grid;
  align-content: center;
  background-image: linear-gradient(#abb1bd, #cfcfcf);
}
.hr-foot {
  margin: auto auto 10px auto;
  width: 298px;
  height: 2px !important;
  border: 0px;
  background-color: rgba(165, 59, 59, 0.52);
  opacity: 1;
}
.footer h6:not(#c) {
  font-size: 20px;
  font-family: "THSarabanBold";
}
#c {
  font-size: 22px;
}
.footer .ongkharak,
.coppyright {
  color: #f6f8ff;
}
.footer .prasanmit {
  color: #252525;
}

.footer .coppyright {
  margin-top: 40px;
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  img.img-fluid.leftimage {
    height: 600px;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 766px) {
  .col-4.col-lg-4.profile {
    
    padding: 0
}
.profile-1 {
  margin-left: 37%;
} 
 ul.lan-area {
    padding: 0;
    margin-left: -31%;
}


}




/* XS for Mobile */
@media only screen and (max-width: 575.98px) {
  .about-content {
    background-image: url("~@/image/mb-bg.png");
    background-position: center;
  }
  .footer {
    margin-top: -2px;
  }
  .right-content {
    margin-top: 30px;
}
  .option h2 {
    font-family: "THSaraban";
    font-size: 40px;
    margin: 10px auto;
  }
  button#login-btn {
    margin-left: 0px;
  }

  #login-form input {
    margin-bottom: 43px;
    width: 353px;
    height: 52px;
    padding: 2px 15px 2px 15px;
  }

  .option div {
    margin: 115px 0px 25px 0px;
  }
  .swu-logo {
    margin-top: 35px;
  }

  /* Regis------------------- */
  .row1 input {
    display: block;
    
  }
 
  select#faculty {
    margin: 0px;
  }
  .checkB {
    margin: auto;
  }
  
}

@media only screen and (max-width: 422px) and (min-width: 320px) {
  #login-form input {
    width: 300px;
    height: 45px;
  }
}
/*  .smallIn,
  select,
  .largeIn {
    width: 327px;
    margin: 23px 0px;
  } */
  @media only screen and (max-width: 575.98px) and (min-width: 400px) {
  .smallIn,
  select,
  .largeIn {
    width: 327px;
    margin: 23px 0px;
  }
  .right-content{
    margin-top: 0px;
  }
  }
  @media only screen and (max-width: 401px) {
    .smallIn,
    select,
    .largeIn {
      width: 100%;
      margin: 23px 0px;
    }
  }